@media only screen and (max-width: 960px){

    .contactForm {
        position: absolute;
        width: 90%;
        left: 5%;
        z-index: 3;
    }
    
    /* #contactButton {
        margin-left: 45%;
        font-size: 15px;
        
    } */
}



@media only screen and (max-width: 576px){

    div#intro {
        position: absolute;
        top: 45%;
        text-align: center;
        color: #ffffff;
        font-weight: bold;
        text-align: center;
        z-index: 4;
        width: 100%;
    }

    div#intro h1 {
        font-size: 30px;
        text-shadow: 0px 2px 5px rgba(0,0,0,0.4);
        font-weight: 100;
        letter-spacing: 7px;
    }


div.icons {
    position: absolute;
    top: 40%;
    left: 5%;
    right: 4%;
    text-align: center;
    z-index: 3;
}



a.thumbImgButton, a.ProjectLink {
   
    background-color: #d35400;
    color: #ffff;
    width: 50px;
    display: inline-block;
    transform: scale(0.6);
    transition: transform 0.2s;
}


.filter {
    width: 100%;
    text-align: center;
    font-size: 15px;
}

div.squareIcon {
    position: absolute;
    top: -25px;
    width: -60%;
    left: 20%;
    font-size: 17px;
    width: 60%;
}

.statsSquare {
    margin: 20px 0px;
    width: 50%;
}



div.item {
    position: relative;
    overflow: hidden;
    padding: 0.2%;
}

div.formContainer {
    margin: 0% 5%;
}

#contactButton {
    font-size: 12px;
    margin-left: 43%;
}
 

div#portfolioItems .item {
   
    width: 100%;
}


div.col-md-12 h2 {
    font-size: 3rem;
    font-weight: 500;
    font-family: auto;
}

div.col-md-12 p {
    font-size: 1.5rem;
    font-weight: 300;
    font-family: auto;
}

.LiBadgeP {
    text-align: justify;
    line-height: normal;
    word-spacing: normal;
    font-size: 0.7em;
}



}

